@import 'variables';

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $body-bg;
  width: 100vw;
  height: 100vh;
  font-family: $font-family-sans-serif;

  main {
    display: flex;
    flex-direction: column;
    max-width: 500px !important;

    h1{
      text-align: center;
      padding-bottom: 10px;
    }

    img {
      margin: 0 auto;
      border-radius: 50%;
      width: 50%;
    }

    form {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      padding: 5px;

      div {
        label, input {
          padding-top: 5px;
        }
      }

    }

    a {
      text-align: center;
    }
  }
}

